{{ "<!-- Calendar Section -->" | safeHTML }}
<section id="calendar">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ with .Site.Params.calendar.title }}{{ . }}{{ end }}</h2>
            </div>
        </div>
        <div text-align="center" width="100%">






<div id="leftcal" float="left" width="50%">
<div class="col-md-6 ">
<section class="col-lg-12  text-left">
<b> September 2016 </b>
<div>  14: Leamington United Mennonite, 7pm</div>
<div>  16: Waterloo MB, Waterloo, 7pm</div>
<div>  18: Yorkminster Baptist, Toronto, 4:30pm</div>
<div>  19: Met Church, Ottawa, 7:30pm</div>
<div>  21: Hope Church, Thunder Bay, 7pm</div>
<div>  23: Steinbach MB, Steinbach, 2pm and 7pm</div>
<div>  24: Knox United, Winnipeg, 1pm</div>
<div>  24: Trinity Baptist, Winnipeg, 7pm</div>
<div>  25: Calvary Temple, Winnipeg, 6pm</div>
<div>  26: Winkler Mennonite, Winkler, 7pm</div>
<div>  29: Forest Grove Church, Saskatoon, 7pm</div>
<b> October 2016 </b>
<div>  30: Knox-Metropolitan, Regina, 7pm</div>
<div>  1: First Baptist, Calgary, 7pm</div>
<div>  2: Lendrum MB, Edmonton, 7pm</div>
<div>  3: Lendrum MB, Edmonton, 7pm</div>
<div>  5: Westwood MB, Prince George, 2pm and 7:30pm</div>
<div>  7: Calvary Temple, Kamloops, 7pm</div>
<div>  8: Evangel Church, Kelowna, 7pm</div>
<div>  9: Clearbrook MB, Clearbrook, 7pm</div>
<div>  9: Fujian Evangelical Church, Richmond, 7pm</div>
<div>  11: Garden Park Towers, lunch event and King Road MB, Abbotsford, 7 pm </div>
<div>  12: Richmond Alliance, Richmond, 7pm</div>
<div>  13: Bakerview MB, Abbotsford, 2pm and 7pm</div>
<div>  14: Chilliwack Alliance, Chilliwack, 7pm</div>
<div>  15: Cloverdale Baptist, Cloverdale, 7pm</div>
<div>  16: Willingdon Church, Burnaby, 7pm</div>
<div>  17: North Langley Community Church, Langley, 7pm</div>
<div>  18: Evangelical Chinese Bible Church, Burnaby, 7pm</div>
</section>
</div>
</div>

<div id="rightcal" float="right" width="50%">>
        <iframe src="http://albumizr.com/a/QQ0" scrolling="no" allowfullscreen
        style="display: block; width: 500px; height: 400px; margin: 0 auto; border: 0;">
</iframe>
</div>





      </div>
        <!--div data-tockify-component="calendar" data-tockify-calendar="mmucanada"></div-->
<script data-tockify-script="embed" src="https://public.tockify.com/browser/embed.js"></script>


    </div>
</section>
