{{ "<!-- Calendar Section -->" | safeHTML }}
<section id="calendar">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ with .Site.Params.calendar.title }}{{ . }}{{ end }}</h2>
            </div>
        </div>
        <div text-align="center" width="100%">






<div id="leftcal" float="left" width="50%">
<div class="col-md-6 ">
<section class="col-lg-8  text-left">
<div>  Sept 11: Leamington Mennonite</div>
<div>  Sept 12 - 15: Need Venues</div>
<div>  Sept 16: Waterloo MB</div>
<div>  Sept 17: Need Venue</div>
<div>  Sept 18: Yorkminster Baptist, Toronto</div>
<div>  Sept 19: Met Church, Ottawa</div>
<div>  Sept 21: Hope Church, Thunder Bay</div>
<div>  Sept 23: Steinbach MB</div>
<div>  Sept 24: Knox United and Trinity Baptist, Winnipeg</div>
<div>  Sept 25: Calvary Temple, Winnipeg</div>
<div>  Sept 26: Winkler Mennonite</div>
<div>  Sept 27 - 28: Need Venues</div>
<div>  Sept 29: Forest Grove Church, Saskatoon</div>
<div>  Sept 30: Knox-Metropolitan, Regina</div>
<div>  Oct 1: First Baptist, Calgary</div>
<div>  Oct 2: Lendrum MB, Edmonton</div>
<div>  Oct 3: Lendrum MB, Edmonton</div>
<div>  Oct 5: Westwood MB, Prince George</div>
<div>  Oct 6: TBA</div>
<div>  Oct 8: Evangel Church, Kelowna</div>
<div>  Oct 9: Clearbrook MB, Clearbrook</div>
<div>  Oct 11: Garden Park Towers and Bakerview MB, Abbotsford</div>
<div>  Oct 12: Richmond Alliance, Richmond</div>
<div>  Oct 13: TBA</div>
<div>  Oct 14: Chilliwack Alliance, Chilliwack</div>
<div>  Oct 15: Cloverdale Baptist, Cloverdale</div>
<div>  Oct 16: Willingdon Church, Burnaby</div>
<div>  Oct 17: North Langley Community Church, Langley</div>
<div>  Oct 18: Evangelical Chinese Bible Church, Richmond</div>
</section>
</div>
</div>

<div id="rightcal" float="right" width="50%">>
        <iframe src="http://albumizr.com/a/QQ0" scrolling="no" allowfullscreen
        style="display: block; width: 500px; height: 400px; margin: 0 auto; border: 0;">
</iframe>
</div>





      </div>
        <!--div data-tockify-component="calendar" data-tockify-calendar="mmucanada"></div-->
<script data-tockify-script="embed" src="https://public.tockify.com/browser/embed.js"></script>


    </div>
</section>
