{{ "<!-- Calendar Section -->" | safeHTML }}
<section id="calendar">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ with .Site.Params.calendar.title }}{{ . }}{{ end }}</h2>
            </div>
        </div>
        <div text-align="center" width="100%">
          
        <iframe src="http://albumizr.com/a/QQ0" scrolling="no" allowfullscreen
        style="display: block; width: 500px; height: 400px; margin: 0 auto; border: 0;">
</iframe>
      </div>
        <div data-tockify-component="calendar" data-tockify-calendar="mmucanada"></div>
<script data-tockify-script="embed" src="https://public.tockify.com/browser/embed.js"></script>


    </div>
</section>
