{{ "<!-- Contact Section -->" | safeHTML }}
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ with .Site.Params.contact.title }}{{ . }}{{ end }}</h2>
                <h3 class="section-subheading text-muted">{{ with .Site.Params.contact.subtitle }}{{ . }}{{ end }}</h3>




                <!-- Begin MailChimp Signup Form -->
                <!-- Begin MailChimp Signup Form -->
                <div class="row">
                  <!-- Begin MailChimp Signup Form -->
                  <!-- Begin MailChimp Signup Form -->
                  <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
                  <style type="text/css">
                  	#mc_embed_signup{background: clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
                  	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                  	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                  </style>
                  <div id="mc_embed_signup">
                  <form action="//musicmissionkiev.us9.list-manage.com/subscribe/post?u=d2e32a22348c0e4b08fcdccb0&amp;id=5c7da4def6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                      <div id="mc_embed_signup_scroll">
                  	<label for="mce-EMAIL">S</label>
                  	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="subscribe to our email list" required>
                      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d2e32a22348c0e4b08fcdccb0_5c7da4def6" tabindex="-1" value=""></div>
                      <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                      </div>

                  </form>
                  </div>
<div class="section-subheading text-white">Please Select a designation for your donation using the dropdown.</div>
                  <select id='Designation'>
                  <option value="0">General Fund</option>
                  <option value="1">Janzen Missionary Support</option>
                  <option value="2">KSOC Evangelism Outreach Concerts</option>
                  <option value="3">Humanitarian Aid</option>
                  </select>

<div id="paypal-general"><form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="8RP2USG63R75U">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form></div>

<div style='display:none;' id="paypal-janzen"><form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="HGY4D6RLT27FQ">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
</div>

<div style='display:none;' id="paypal-ksoc"><form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="K8FEAYXGTSK7C">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

</div>
<div style='display:none;' id="paypal-humanitarian"><form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="BE99V8GTFRB7N">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
</div>



                <h3 class="section-subheading text-white double-space">{{ with .Site.Params.contact.donateText }}{{ . }}{{ end }}</h3>
            </div>
        </div>


          <!--End mc_embed_signup-->
            <!--div class="col-lg-12">
                <form  action="//formspree.io/{{ with .Site.Params.email }}{{.}}{{ end }}" method="POST" name="sentMessage" id="contactForm" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="{{ with .Site.Params.contact.form.name.text }}{{ . }}{{ end }}" name="name" required data-validation-required-message="{{ with .Site.Params.contact.form.name.warning }}{{ . }}{{ end }}">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="{{ with .Site.Params.contact.form.email.text }}{{ . }}{{ end }}" name="email" required data-validation-required-message="{{ with .Site.Params.contact.form.email.warning }}{{ . }}{{ end }}">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="tel" class="form-control" placeholder="{{ with .Site.Params.contact.form.phone.text }}{{ . }}{{ end }}" name="phone" required data-validation-required-message="{{ with .Site.Params.contact.form.phone.warning }}{{ . }}{{ end }}">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea class="form-control" placeholder="{{ with .Site.Params.contact.form.message.text }}{{ . }}{{ end }}" name="message" required data-validation-required-message="{{ with .Site.Params.contact.form.message.warning }}{{ . }}{{ end }}"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <button type="submit" class="btn btn-xl">{{ with .Site.Params.contact.buttonText }}{{ . }}{{ end }}</button>
                        </div>
                    </div>
                </form>
            </div-->
        </div>
    </div>

    <script src="{{ .Site.BaseURL }}js/jquery.js"></script>
    {{ "<!-- Bootstrap Core JavaScript -->" | safeHTML }}
    <script src="{{ .Site.BaseURL }}js/bootstrap.min.js"></script>
    {{ "<!-- Plugin JavaScript -->" | safeHTML }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{{ .Site.BaseURL }}js/classie.js"></script>
    <script src="{{ .Site.BaseURL }}js/cbpAnimatedHeader.js"></script>
    {{ "<!-- Contact Form JavaScript -->" | safeHTML }}
    <script src="{{ .Site.BaseURL }}js/jqBootstrapValidation.js"></script>
    <script src="{{ .Site.BaseURL }}js/contact_me.js"></script>
    {{ "<!-- Custom Theme JavaScript -->" | safeHTML }}
    <script src="{{ .Site.BaseURL }}js/agency.js"></script>
</section>
