{{ "<!-- Portfolio Grid Section -->" | safeHTML }}

{{ partial "header.html" . }}
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ with .Site.Params.portfolio.title }}{{ . }}{{ end }}</h2>
                <h3 class="section-subheading text-muted">{{ with .Site.Params.portfolio.subtitle }}{{ . | markdownify }}{{ end }}</h3>
            </div>
        </div>
        <div class="row">
          <ol>

            <li>Pray for Music Mission Ukraine Canada (MMUC) evangelistic outreach in Ukraine. There are many worthy invitations from Ukrainian pastors and Christian leaders to share KSOC friendship-evangelism outreach events in cities throughout Ukraine. Pray for discernment, the necessary funds and open hearts to the gospel of Jesus Christ. Pray that Canadians would be generous in supporting the evangelistic activity of MMUC. Lord willing, our next KSOC friendship-evangelism outreach events are to Lutsk in May, 2017 and Dnipro in June, 2017.</li>
          	<li>Pray for our MMUC doctor who provides loving medical care to hundreds of the poorest of the poor.</li>
          	<li>Pray for our people who do deliveries to places of greatest need near the war zone.</li>
          	<li>Pray for our ongoing outreach to internally displaced people. Pray for safety in travel. Pray that the blankets, food, Bibles, Bible studies and other essential supplies bless these needy souls. David Shelley from Crossroads/100 Huntley Street was with us in November, 2016, as we loaded 3 more vehicles and as we visited the IDP centre that we serve in Kyiv. Praise the Lord for the ongoing support of our MMUC outreach to IDPs through Crossroads/100 Huntley Street.</li>
          	<li>Pray for the many internally displaced children that we serve. Pray that MMUC outreach through music, Bible lessons, healthy meals, and summer camps continues to bring hope, joy and comfort to these children. Ukraine now has 1.6 million internally displaced people.</li>
          	<li>Pray for Wes and Kim Janzen, your Canadian MMUC missionaries to Ukraine, that we would be faithful to the calling that we have received from the Lord.</li>
          	<li>Praise the Lord for a wonderful week of trauma and “Standing Strong Through the Storm” seminars brought in 2016 to Kyiv by Dr. Jim and Rita Cunningham and Paul Estabrooks (Open Doors). These master teachers served hundreds here in Kyiv through their preaching, teaching and seminars. Thanks be to God for this wonderful provision.</li>
          	<li>Pray that our team will be led of the Holy Spirit and recognize God working that we may join Him. While doors are now open to serve in Ukraine we do not take this for granted. Pray for open hearts that listeners will be open and receptive to the gospel of Jesus Christ.</li>
          	<li>Pray for Kim as she teaches literally hundreds each week.  Her Saturday morning Bible lessons alone reach 480, every week.  We received 53 new members into St. Paul’s Church recently.  Praise the Lord.</li>
          	<li>Pray for clarity and boldness. Pray that our strength would be only in the Lord, and that we might “fearlessly make known the mystery of the gospel” (Ephesians 6:19).</li>
          	<li>Pray that the gospel will “spread rapidly and be honoured wherever it goes … “ (II Thessalonians 3:1). Pray for strong and clear singing voices. Pray for members of the Kyiv Symphony Orchestra and Chorus.  We recently brought 30 singers from the KSOC to Tbilisi, Georgia to share friendship-evangelism concerts.  Over 100 people came forward and received Bibles in the Georgian language, after our concerts.</li>
          	<li>Pray for clarity of mind. Pray for health, strength and stamina, which are often attacked by antagonistic spiritual forces.</li>
          	<li>Pray for guidance and wisdom. “We ask God to give you a complete understanding of what He wants to do in your lives and we ask Him to make you wise with spiritual wisdom” (Col 1:9).</li>
          	<li>Pray for protection. There is an ongoing conflict in Ukraine. Pray that the Lord will keep our people safe from those who might seek to hurt them. Pray for safety in travel. Some of our team members go to places of conflict.  In recent months, two individuals have been assassinated, on sidewalks, where we walk on a regular basis.</li>
          	<li>Pray for refreshment and rest. “We also pray that you will be strengthened with His glorious power so that you will have all the patience and endurance you need. May you be filled with joy” Col 1:11. We are normal people who deal with normal challenges, stresses and difficulties. Missionaries can struggle with these issues and feel somewhat alone, away from family members. Pray that God will encourage us with the knowledge that others are praying for us.</li>
          	<li>Pray for Ukraine. Pray for peace in the hearts of Ukrainians. Pray for peace in Ukraine. Pray for the traumatized people that we serve.</li>
          	<li>Pray for our family.</li>
          	<li>Pray for orphan summer Bible camps.</li>
          	<li>Give thanks for our fall 2016 Canadian tour which was a wonderful success. Glory to God. We brought 42 exceptional Ukrainian musicians across Canada, starting in Toronto and ending in Vancouver. We shared music, stories of God’s grace, and the gospel of the Lord Jesus Christ at each concert. This is our calling.</li>
          	<li>Pray for our Music Mission Ukraine Canada board as they give guidance to Music Mission Ukraine Canada; Michael Berg, Al Mitton, Steve Boakes, Richard Dodding, Arlene Dodding, Henry Esau, Lynda Esau, Kim Janzen, Wes Janzen.</li>
          	<li>Pray for those who give financially. Without ongoing financial support the ministries of Music Mission Ukraine Canada would not be possible.  All categories of designation are currently in need.  These opportunities to make a kingdom impact difference are worthy of support.</li>
          	<li>“We never know how God will answer our prayers, but we can expect that He will get us involved in His plan for the answer.” Corrie Ten Boom</li>
    	<!-- <li>Pray for Music Mission Ukraine Canada (MMUC) evangelistic outreach in Ukraine.  There are many worthy invitations from Ukrainian pastors and Christian leaders to share KSOC friendship-evangelism outreach events in cities throughout Ukraine.  Pray for discernment, the necessary funds and open hearts to the gospel of Jesus Christ.  Pray that Canadians would be generous in supporting the evangelistic activity of MMUC.</li>
    	<li>Pray for our ongoing outreach to internally displaced people.  Pray for safety in travel.  Pray that the blankets, food, Bibles, Bible studies and other essential supplies bless these needy souls.  David Shelley from Crossroads/100 Huntley Street was with us in November as we loaded 3 more vehicles and as we visited the IDP centre that we serve in Kyiv.  Praise the Lord for the ongoing support of our MMUC outreach to IDPs through Crossroads/100 Huntley Street.</li>
    	<li>Pray for the many internally displaced children that we serve.  Pray that  MMUC outreach through music, Bible lessons, healthy meals, and summer camps continues to bring hope, joy and comfort to these children. Ukraine now has 1.6 million internally displaced people.</li>
    	<li>Pray for Wes and Kim Janzen, your Canadian MMUC missionaries to Ukraine, that we would be faithful to the calling that we have received from the Lord.</li>
    	<li>Praise the Lord for a wonderful week of trauma and “Standing Strong Through the Storm” seminars brought to Kyiv by Dr. Jim and Rita Cunningham and Paul Estabrooks (Open Doors).  These master teachers served hundreds here in Kyiv through their preaching, teaching and seminars.  Thanks be to God for this wonderful provision.</li>
    	<li>Pray that our team will be led of the Holy Spirit and recognize God working that we may join Him. While doors are now open to serve in Ukraine we do not take this for granted. Pray for open hearts that listeners will be open and receptive to the gospel of Jesus Christ.</li>
    	<li>Pray for Kim as she teaches literally hundreds each week.</li>
    	<li>Pray for clarity and boldness. Pray that our strength would be only in the Lord, and that we might “fearlessly make known the mystery of the gospel” (Ephesians 6:19).</li>
    	<li>Pray that the gospel will “spread rapidly and be honoured wherever it goes … “ (II Thessalonians 3:1). Pray for strong and clear singing voices. Pray for members of the Kyiv Symphony Orchestra and Chorus.</li>
    	<li>Pray for clarity of mind. Pray for health, strength and stamina, which are often attacked by antagonistic spiritual forces.</li>
    	<li>Pray for guidance and wisdom. “We ask God to give you a complete understanding of what He wants to do in your lives and we ask Him to make you wise with spiritual wisdom” (Col 1:9).</li>
    	<li>Pray for protection. There is an ongoing conflict in Ukraine. Pray that the Lord will keep our people safe from those who might seek to hurt them. Pray for safety in travel. Some of our team members go to places of conflict.</li>
    	<li>Pray for refreshment and rest. “We also pray that you will be strengthened with His glorious power so that you will have all the patience and endurance you need. May you be filled with joy” Col 1:11. We are normal people who deal with normal challenges, stresses and difficulties. Missionaries can struggle with these issues and feel somewhat alone, away from family members. Pray that God will encourage us with the knowledge that others are praying for us.</li>
    	<li>Pray for Ukraine. Pray for peace in the hearts of Ukrainians. Pray for peace in Ukraine. Pray for the traumatized people that we serve.</li>
    	<li>Pray for our family.</li>
    	<li>Give thanks for our fall 2016 Canadian tour which was a wonderful success.  Glory to God. We brought 42 exceptional Ukrainian musicians across Canada, starting in Toronto and ending in Vancouver. We shared music, stories of God’s grace, and the gospel of the Lord Jesus Christ at each concert. This is our calling.</li>
    	<li>Pray for our Music Mission Ukraine Canada board as they give guidance to Music Mission Ukraine Canada; Michael Berg, Al Mitton, Richard Dodding, Arlene Dodding, Rita Thiessen, Henry Esau, Lynda Esau, Kim Janzen, Wes Janzen.</li>
    	<li>Pray for those who give financially. Without ongoing financial support the ministries of Music Mission Ukraine Canada would not be possible.  Our current greatest need going into the Christmas season (December 2016 and January 2017) is in the category of friendship-evangelism outreach.</li> -->
    </ol>
        </div>
    </div>
    <!--div id="post-index" class="container">

		<main class="content" role="main">

			<div class="post-list">
				<div id="push">

			{{ $paginator := .Paginator 6}}

			{{ range $index, $page := .Paginator.Pages }}
			  {{ .Render "li" }}
			{{ end }}

				</div>
			</div>

			{{ partial "pagination.html" $paginator }}

		</main-->

	</div>
</section>
