<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<head>
    {{ partial "header.html" . }}
</head>
    <body id="page-top" class="index">
        {{ partial "nav.html" . }}
        {{ partial "hero.html" . }}
        {{ partial "statement.html" . }}
        {{ partial "services.html" . }}

        {{ partial "portfolio.html" . }}
        {{ partial "about.html" . }}
        {{ partial "team.html" . }}
        {{ partial "clients.html" . }}
        {{ partial "calendar.html" . }}
        {{ partial "contact.html" . }}
        {{ partial "footer.html" . }}
        {{ partial "modals.html" . }}
        {{ partial "js.html" . }}
    </body>
</html>
